
div.image(style="background-image: url('/i/#{sources.low.name}');", data-original="/i/#{sources.standard.name}", data-name="#{name}", data-height="#{sources.standard.height}", data-width="#{sources.standard.width}")

div.meta
  span.description #{name}
  div.tags