form
  
  div.pair.inline
    input.smallwidth(id='create-collection', name='create-collection', type="checkbox", value='true', data-description='Collection erstellen')

  div.pair.inline
    input.smallwidth(id='use-collection', name='use-collection', type="checkbox", value='true', data-description='Zu Collection hinzufügen')

  div.pair.inline
    input.smallwidth(id='auto-upload', name='auto-upload', type="checkbox", value='true', checked, data-description='Upload im Hintergrund')

  div.pair.hint--right.create-collection(data-hint="Name")
    input.fullwidth(id="name", name='name', required, value='#{name ? name : ''}', placeholder='Name', class="#{missing_name? 'missing' : ''}")

  div.pair.hint--right.create-collection(data-hint="Beschreibung")
    textarea.fullwidth(id="description", name='description', value='#{description ? description : ''}', placeholder='Beschreibung', class="#{missing_description ? 'missing' : ''}")

  div.pair.hint--right.create-collection(data-hint="Tags")
    input.fullwidth(id="tags", required, name='tags', value='#{tags ? tags : ''}', placeholder='Tags erlauben es Nutzern schnell und einfach gewünschte Alben zu finden (Tag1, Tag2, ...)', class="#{missing_tags ? 'missing' : ''}")


.collections